<?xml version="1.0"?>
<!-- [navigation_channel, speed_gate_mission, follow_the_leader, acoustics_channel, buoy_field] -->

<launch>
    <node pkg="high_to_low" type="high_to_low" name="shuffle_pass" output="screen" respawn="true" />

	<node pkg="the_planner" type="planner" name="planner" output="screen">
            <rosparam param="mission_string">[tester]</rosparam>
   		<rosparam file="$(find the_planner)/yaml/missions.yaml" param = "missions" command="load" respawn="true"></rosparam>
    	</node> 
</launch>
